/* Common for all pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --ffam : 'Roboto', sans-serif;
    --bcolor: rgb(106,123,139);
    --tcolor1: white;
    --tcolor2: #5C5B5B;
}
body{
    font-family: var(--ffam);
}
header{
    width: 100%;
}
nav{
    background-color: var(--bcolor);
    color:var(--tcolor1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* float:right; */
}

nav img{
    width: 10rem;
    float:left;
    padding-left: 1rem;
    padding-top: 0.1rem;
}
nav ul{
    padding: 1rem;
  }

nav ul li{
  display: inline; 
  white-space: nowrap;
  font-size: 1.2rem;
  margin: 4rem 2rem;
}
nav ul li a{
    color: var(--tcolor1);
    padding: 1rem 1rem;
    margin-right: 0.5rem;
    text-decoration: none;
}
.mainLogo{
    text-align: center;
}
.mainLogo img{
      width: 10rem;
}
footer{
    width: 100vw;
    background-color: var(--bcolor);
    color: var(--tcolor1);
    clear:both;
    overflow:auto;
    text-align: center;
}
.footerLogo{
    /* height: 5rem; */
    width: 4rem;
    float:left;
    /* padding: 2rem 1rem 2rem 3rem; */
    padding: 1rem;
}
footer p{
    margin-top: 1.5rem;
    text-align: center;
    font-size:normal;
}
footer .mediaLogo{
    text-align: center;
}
footer .mediaLogo img{
    width: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
/* CSS for Index */

.cafePic1{
   color: var(--tcolor1);
   position: relative;
   text-align: center;
}
.cafePic1 img{
    width: 90%;
   height: 60%;
}

.cafePic1 .cafeName{
  color: var(--tcolor1);
  position: absolute;
  width: 80%;
  top: 20%;
  /* left: 10%; */
  transform: translateY(-50%);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  padding: 0 2rem;
 }
.txtBfrCard{
    text-align: center;
    color:var(--tcolor2);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1rem 1rem;
    margin: 2rem 2rem;
}
.threeCards{
    display: flex;
    margin: 2rem;
    
}
.threeCards .card{
    box-shadow: 0 0.5rem 0.5rem 0 darkgrey;
    background-color:var(--bcolor);
    color:var(--tcolor1);
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    width: 30%;
}
.threeCards .card img{
    width: 90%;
    margin-bottom: 15px;
}
.threeCards .card .p{
    padding: 1rem;
    /* margin: 1rem; */
}
.btnTxt{
        text-align: center;
}
.btn{
    border-radius: 1rem;
    background-color:var(--bcolor);
    color: var(--tcolor1);
    height: 4rem;
    width: 20rem;
    box-shadow: 0 0.5rem 0.5rem 0 gray;
    font-size: x-large;
    font-weight: bold;
     margin-top: auto;
     border-style: none;
}

.txtBlBtn{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--tcolor2);
    padding: 2rem;
    margin: 1rem;
}
.open{
    display: flex;
}
.open img{
    width: 5rem;
    height: 5rem;
    padding: 0 3rem 2rem 6rem;
    margin-bottom: 0 3rem 2rem 6rem;
}
.open p{
    padding-left: 1rem;
    font-size: 2rem;
    /* font-weight: bold; */
    color: var(--tcolor2);
}
.info{
    display: flex;
    color: var(--tcolor2);
    font-size: large;
}
.info span{
    font-weight: normal;
}
.info1 p, .info2 p{
    font-weight: bold;
    text-align: center;
    padding: 2rem 6rem;
    margin: 2rem 6rem;
    font-size:1.5rem;
}
.moreInfo{
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    color: var(--tcolor2);
    }

.moreInfo p{
    font-weight: normal;
    font-size: 1.8rem;
    padding: 2rem;
    margin: 2rem;
}
.moreInfo .p1{
    font-weight: normal;
    font-size: 1.6rem;
}

/* CSS for about page */
.coffeePicTxt{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1rem;
    margin: 1rem;
}
.coffeeTxt{
    text-align: left;
}
.coffeeTxt p{
    color: var(--tcolor2);
    font-size: 1.3rem;
    font-weight: normal;
    text-align:left;
    white-space: nowrap;
    padding: 1rem 0 1rem 3rem;
    margin: 2rem 0 1rem 3rem;
    
}
.coffeeTxt p:nth-child(1){
    word-spacing: 30px;
    font-size: x-large;
    font-weight:bolder;
}
/* .coffeeImg{
    text-align: center;
} */
.coffeeImg img{
    height: 45rem;
    width: 40rem;
    padding-left: 4rem;
    margin-left: 4rem;
}
.cafePicTxt{
    display: flex;
    padding: 1rem;
    margin: 1rem;
}
.cafeTxt p{
    color: var(--tcolor2);
    font-size: 1.3rem;
    font-weight: normal;
    text-align:left;
    white-space: nowrap;
    padding: 1rem 0 1rem 4rem;
    margin: 1rem 0 1rem 4rem;
    
}
.cafeTxt p:nth-child(1){
    word-spacing: 30px;
    font-size: xx-large;
    font-weight:bolder;
}
.cafePic2 img{
    width: 35rem;
    height: 40rem;
    padding-left: 1rem 0 3rem 3rem;
    margin-left: 3rem;
}

/* CSS for contact page */
.afterLogo{
    /* text-align: center; */
    padding:0 2rem;
    margin:0 20rem;
    color: var(--tcolor2);
  
}
.afterLogo h2{
    font-weight: bold;
    font-size: 1.8rem;
    white-space: nowrap;
    text-align: center;
}
.afterLogo p{
    text-align: left;
    padding: 2rem;
    margin: 2rem;
    font-weight: medium;
    font-size: 1.5rem;
    white-space: nowrap;
}
.afterLogo p:nth-of-type(1) span{
    font-weight: bold;
}
.maps{
     text-align: center;
}   
     
.maps iframe{
    margin: 2rem;
    border: 1px solid black;
    /* width: 40rem;
    height: 30rem; */
    width: 50%;
    height: 30rem;
   }
/*Media quries*/
@media screen and (max-width: 768px) {
    
    p{
        font-size: 0.875rem;
    }
    .threeCards{
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-bottom: 25px;
        width: 60%;
        padding: 40px;
    }
}
@media screen and (max-width: 900px){
    nav{
        display: block;
        text-align: center;
        width: 100%;
    }
    nav img{
        display: none;
    }
    nav ul li{
        font-size: 1rem;
    }
    /*Contact page*/
    .afterLogo{
        text-align: center;
        padding: 0;
       margin: 0;
    }
    .afterLogo h2,.afterLogo p{
        text-align: center;
        font-size: 1.2rem;
    }
    /*About page*/
    .coffeePicTxt,.cafePicTxt{
        display: block;
        font-size: 1.5rem;
        text-align: center;
         padding-bottom: 1rem;
       margin-bottom: 1rem;
    }
    /*Index page*/
    .info{
        display: block;
        font-size: 1.5rem;
        text-align: center;
         padding-bottom: 1rem;
       margin-bottom: 1rem;
    }
    .cafeName{
        font-size: 1.5rem;
        text-align: center;
    }
}
@media screen and (max-width: 650px){
    nav ul li{
        font-size: 1rem;
       display:block;
       padding: 0;
       margin: 0;
    }
    nav ul{
         text-align: center;
    }
    .afterLogo{
        font-size: 1rem;
        text-align: center;
    }
    .coffeePicTxt,.cafePicTxt{
        font-size: 1.2rem;
    }
    .cafeName{
        font-size: xx-small;
        text-align: center;
        height: auto;
    }
}